services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: unless-stopped
    volumes:
      - /stable_grace/docker-volumes/ollama:/root/.ollama
    environment:
      OLLAMA_NUM_PARALLEL: "1"
    ports:
      - "11434:11434"

  kokoro:
    image: ghcr.io/eduardolat/kokoro-web:latest
    container_name: kokoro
    restart: unless-stopped
    ports:
      - "3099:3000"
    env_file: kokoro.env
