services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: unless-stopped
    volumes:
      - /stable_grace/docker-volumes/ollama:/root/.ollama
    environment:
      OLLAMA_NUM_PARALLEL: "1"
    ports:
      - "11434:11434"

  kokoro:
    image: ghcr.io/eduardolat/kokoro-web:latest
    container_name: kokoro
    restart: unless-stopped
    ports:
      - "3099:3000"
    env_file: kokoro.env

  ts-monerod:
    image: tailscale/tailscale:latest
    restart: unless-stopped
    hostname: ts-monerod
    env_file: tailscale.env
    environment:
      TS_AUTH_ONCE: "true"
      TS_STATE_DIR: "/var/lib/tailscale"
      TS_USERSPACE: "false"
      TS_EXTRA_ARGS: "--exit-node=100.92.9.9 --exit-node-allow-lan-access=true"
    volumes:
      - ts-monerod:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin

  monerod:
    image: monero:latest
    pull_policy: never
    container_name: monerod
    restart: unless-stopped
    stop_signal: SIGINT
    stop_grace_period: 30s
    user: "1000:1000"
    network_mode: service:ts-monerod
    volumes:
      - /home/tortxof/.bitmonero:/home/monero/.bitmonero
    command:
      - "--data-dir=/home/monero/.bitmonero"
      - "--non-interactive"
      - "--rpc-bind-ip=0.0.0.0"
      - "--confirm-external-bind"
      - "--restricted-rpc"
      - "--zmq-pub=tcp://0.0.0.0:18083"
      - "--out-peers=8"
      - "--in-peers=16"
      - "--add-priority-node=p2pmd.xmrvsbeast.com:18080"
      - "--add-priority-node=nodes.hashvault.pro:18080"
      - "--enable-dns-blocklist"
      - "--enforce-dns-checkpointing"

  ts-p2pool:
    image: tailscale/tailscale:latest
    restart: unless-stopped
    hostname: ts-p2pool
    env_file: tailscale.env
    environment:
      TS_AUTH_ONCE: "true"
      TS_STATE_DIR: "/var/lib/tailscale"
      TS_USERSPACE: "false"
      TS_EXTRA_ARGS: "--exit-node=100.92.9.9 --exit-node-allow-lan-access=true"
    volumes:
      - ts-p2pool:/var/lib/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin

  p2pool:
    image: p2pool:latest
    pull_policy: never
    container_name: p2pool
    restart: unless-stopped
    stop_signal: SIGINT
    depends_on:
      - monerod
    network_mode: service:ts-p2pool
    privileged: true
    volumes:
      - /dev/hugepages:/dev/hugepages:rw
    command:
      - "--host"
      - "ts-monerod"
      - "--wallet"
      - "48jVAh52AQ651TgHo9pQNHHMtmuHfbY3M9tp2t2NreSvDE3nTccYkJTigHPLeWxUCX8RhGjK3vQRe9PUSwbUVVod35S4ht6"
      - "--mini"

volumes:
  ts-monerod:
  ts-p2pool:
