services:
  traefik:
    restart: unless-stopped
    image: traefik:v3.3
    networks:
      - web
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /efs/docker-volumes/traefik/acme.json:/acme.json
    command: >
      --providers.docker
      --providers.docker.exposedByDefault=false
      --providers.docker.network=web
      --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --entrypoints.web.http.redirections.entryPoint.scheme=https
      --entrypoints.websecure.address=:443

  bore:
    restart: unless-stopped
    image: ekzhang/bore
    init: true
    network_mode: "host"
    environment:
      BORE_MIN_PORT: 30000
      BORE_MAX_PORT: 30999
    env_file: bore.env
    command: server

  # rustdesk
  hbbs:
    restart: unless-stopped
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbs
    volumes:
      - /efs/docker-volumes/rustdesk:/root

    depends_on:
      - hbbr

  hbbr:
    restart: unless-stopped
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbr
    volumes:
      - /efs/docker-volumes/rustdesk:/root

networks:
  web:
    name: web
  postgres:
    name: postgres
