services:
  traefik:
    restart: unless-stopped
    image: traefik:v3.3
    networks:
      - web
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /efs/docker-volumes/traefik/acme.json:/acme.json
    command: >
      --providers.docker
      --providers.docker.exposedByDefault=false
      --providers.docker.network=web
      --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --entrypoints.web.http.redirections.entryPoint.scheme=https
      --entrypoints.websecure.address=:443

  flask-imghost:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/flask-imghost@sha256:9887fe0798085e4e92f23093524ac4ddd34ee3011047ecd093f1abbad31de4e5
    networks:
      - web
      - postgres
    environment:
      FLASK_DEBUG: 'false'
      S3_BUCKET: 'djones-imghost'
      BUCKET_CDN: '{"djones-imghost": "https://imghost-cdn.djones.co"}'
      PG_HOST: 'postgres'
    env_file: flask-imghost.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.flask-imghost.loadbalancer.server.port=8000"
      - "traefik.http.routers.flask-imghost.entrypoints=websecure"
      - "traefik.http.routers.flask-imghost.rule=Host(`imghost.djones.co`)"
      - "traefik.http.routers.flask-imghost.tls=true"
      - "traefik.http.routers.flask-imghost.tls.certresolver=default"

  bore:
    restart: unless-stopped
    image: ekzhang/bore
    init: true
    network_mode: "host"
    environment:
      BORE_MIN_PORT: 30000
      BORE_MAX_PORT: 30999
    env_file: bore.env
    command: server

  # rustdesk
  hbbs:
    restart: unless-stopped
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbs
    volumes:
      - /efs/docker-volumes/rustdesk:/root

    depends_on:
      - hbbr

  hbbr:
    restart: unless-stopped
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbr
    volumes:
      - /efs/docker-volumes/rustdesk:/root

networks:
  web:
    name: web
  postgres:
    name: postgres
