services:
  traefik:
    restart: unless-stopped
    image: traefik:v3.3
    networks:
      - web
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /efs/docker-volumes/traefik/acme.json:/acme.json
    command: >
      --providers.docker
      --providers.docker.exposedByDefault=false
      --providers.docker.network=web
      --certificatesresolvers.default.acme.httpchallenge.entrypoint=web
      --entrypoints.web.address=:80
      --entrypoints.web.http.redirections.entryPoint.to=websecure
      --entrypoints.web.http.redirections.entryPoint.scheme=https
      --entrypoints.websecure.address=:443

  rc-club-members:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/rc-club-members-2@sha256:b889552f089e19bd6e073bea35afa741b5a1eaaf411ffdb046683a961db14c54
    networks:
      - web
    environment:
      APP_DEBUG: 'false'
      APP_TIME_ZONE: 'America/New_York'
      APP_ORIGIN: 'https://members.bsrcc.com'
      APP_NAME: 'Black Sheep RC Club'
      APP_SHORT_NAME: 'BSRCC'
      MAILGUN_DOMAIN: 'bsrcc.com'
      MAILGUN_URL: 'https://api.mailgun.net/v3/bsrcc.com/messages'
      NOREPLY_EMAIL: 'noreply@bsrcc.com'
      DEFAULT_FROM_EMAIL_USER: 'daniel'
      ALLOWED_HOSTS: '["members.bsrcc.com"]'
      CSRF_TRUSTED_ORIGINS: '["https://members.bsrcc.com"]'
      DATABASE_PATH: '/data/db.sqlite3'
    env_file: rc-club-members.env
    volumes:
      - /efs/docker-volumes/rc-club-members:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.rc-club-members.loadbalancer.server.port=8000"
      - "traefik.http.routers.rc-club-members.entrypoints=websecure"
      - "traefik.http.routers.rc-club-members.rule=Host(`members.bsrcc.com`)"
      - "traefik.http.routers.rc-club-members.tls=true"
      - "traefik.http.routers.rc-club-members.tls.certresolver=default"

  flask-password:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/flask-password@sha256:1e368171ebcb2af2019a4189a26d964111689179b9b36a2e89266ae730001369
    networks:
      - web
      - postgres
    environment:
      FLASK_DEBUG: 'false'
      PG_HOST: 'postgres'
    env_file: flask-password.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.flask-password.loadbalancer.server.port=8000"
      - "traefik.http.routers.flask-password.entrypoints=websecure"
      - "traefik.http.routers.flask-password.rule=Host(`pw.djones.co`)"
      - "traefik.http.routers.flask-password.tls=true"
      - "traefik.http.routers.flask-password.tls.certresolver=default"

  flask-imghost:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/flask-imghost@sha256:9887fe0798085e4e92f23093524ac4ddd34ee3011047ecd093f1abbad31de4e5
    networks:
      - web
      - postgres
    environment:
      FLASK_DEBUG: 'false'
      S3_BUCKET: 'djones-imghost'
      BUCKET_CDN: '{"djones-imghost": "https://imghost-cdn.djones.co"}'
      PG_HOST: 'postgres'
    env_file: flask-imghost.env
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.flask-imghost.loadbalancer.server.port=8000"
      - "traefik.http.routers.flask-imghost.entrypoints=websecure"
      - "traefik.http.routers.flask-imghost.rule=Host(`imghost.djones.co`)"
      - "traefik.http.routers.flask-imghost.tls=true"
      - "traefik.http.routers.flask-imghost.tls.certresolver=default"

  postgres:
    restart: unless-stopped
    image: public.ecr.aws/docker/library/postgres:16
    ports:
      - "5432:5432"
    networks:
      - postgres
    volumes:
      - /efs/docker-volumes/postgres:/var/lib/postgresql/data
    env_file: postgres.env


  bore:
    restart: unless-stopped
    image: ekzhang/bore
    init: true
    network_mode: "host"
    environment:
      BORE_MIN_PORT: 30000
      BORE_MAX_PORT: 30999
    env_file: bore.env
    command: server

  # rustdesk
  hbbs:
    restart: unless-stopped
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbs
    volumes:
      - /efs/docker-volumes/rustdesk:/root

    depends_on:
      - hbbr

  hbbr:
    restart: unless-stopped
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbr
    volumes:
      - /efs/docker-volumes/rustdesk:/root

networks:
  web:
    name: web
  postgres:
    name: postgres
