{
    email tortxof@djones.co
}

(cloudflare_tls) {
    tls {
        dns cloudflare {env.CF_API_TOKEN}
    }
}

ai.local.djones.co {
    redir https://ai.djones.co/
    import cloudflare_tls
}

jellyfin.local.djones.co {
    reverse_proxy jellyfin:8096
    import cloudflare_tls
}

syncthing.local.djones.co {
    reverse_proxy 192.168.1.1:8384
    import cloudflare_tls
}

n8n.local.djones.co {
    reverse_proxy n8n:5678
    import cloudflare_tls
}
