networks:
  web:
  web_cloudflare:
  valkey:
  postgres:

services:
  cloudflared:
    restart: unless-stopped
    image: cloudflare/cloudflared:latest
    networks:
      - web_cloudflare
    env_file: cloudflared.env
    command: tunnel --no-autoupdate run

  enclosed:
    restart: unless-stopped
    image: ghcr.io/corentinth/enclosed:latest
    networks:
      - web_cloudflare
    volumes:
      - /evil_ripple/docker-volumes/enclosed:/app/.data
    environment:
      SERVER_API_ROUTES_TIMEOUT_MS: '30000'
      PUBLIC_DEFAULT_DELETE_NOTE_AFTER_READING: 'true'
      PUBLIC_IS_SETTING_NO_EXPIRATION_ALLOWED: 'false'
      SERVER_CORS_ORIGINS: 'https://enclosed.djones.co'
    env_file: enclosed.env

  linkding:
    image: sissbruecker/linkding:latest
    restart: unless-stopped
    networks:
      - web_cloudflare
    volumes:
      - "/evil_ripple/docker-volumes/linkding:/etc/linkding/data"
    env_file: linkding.env

  gollum:
    restart: unless-stopped
    image: gollumwiki/gollum:6.1.0
    networks:
      - web_cloudflare
    user: "1000:1000"
    volumes:
      - /evil_ripple/docker-volumes/txfwiki.git:/data.git
    command: --h1-title --allow-uploads dir --emoji --bare /data.git

  rc-club-members:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/rc-club-members-2@sha256:b889552f089e19bd6e073bea35afa741b5a1eaaf411ffdb046683a961db14c54
    networks:
      - web_cloudflare
    environment:
      APP_DEBUG: 'false'
      APP_TIME_ZONE: 'America/New_York'
      APP_ORIGIN: 'https://members.bsrcc.com'
      APP_NAME: 'Black Sheep RC Club'
      APP_SHORT_NAME: 'BSRCC'
      MAILGUN_DOMAIN: 'bsrcc.com'
      MAILGUN_URL: 'https://api.mailgun.net/v3/bsrcc.com/messages'
      NOREPLY_EMAIL: 'noreply@bsrcc.com'
      DEFAULT_FROM_EMAIL_USER: 'daniel'
      ALLOWED_HOSTS: '["members.bsrcc.com"]'
      CSRF_TRUSTED_ORIGINS: '["https://members.bsrcc.com"]'
      DATABASE_PATH: '/data/db.sqlite3'
    env_file: rc-club-members.env
    volumes:
      - /evil_ripple/docker-volumes/rc-club-members:/data

  flask-password:
    restart: unless-stopped
    image: public.ecr.aws/m3l3l1j4/flask-password@sha256:1e368171ebcb2af2019a4189a26d964111689179b9b36a2e89266ae730001369
    networks:
      - web_cloudflare
      - postgres
    environment:
      FLASK_DEBUG: 'false'
      PG_HOST: 'postgres'
    env_file: flask-password.env

  caddy:
    build:
      dockerfile: ./caddy.Dockerfile
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    networks:
      - web
    env_file: caddy.env
    volumes:
      - type: bind
        source: /evil_ripple/docker-volumes/caddy/data
        target: /data
      - type: bind
        source: /evil_ripple/docker-volumes/caddy/config
        target: /config

  n8n:
    image: n8nio/n8n:latest
    restart: unless-stopped
    networks:
      - web
      - valkey
    environment:
      N8N_HOST: 'n8n.local.djones.co'
      N8N_PORT: 5678
      N8N_EDITOR_BASE_URL: 'https://n8n.local.djones.co'
      WEBHOOK_URL: 'https://n8n.local.djones.co'
      N8N_PROTOCOL: http
      NODE_ENV: production
      GENERIC_TIMEZONE: 'America/New_York'
    volumes:
      - /evil_ripple/docker-volumes/n8n:/home/node/.n8n

  valkey:
    image: valkey/valkey:8
    restart: unless-stopped
    networks:
      - valkey
    volumes:
      - /evil_ripple/docker-volumes/valkey:/data
    command: valkey-server --save 60 1 --loglevel warning

  postgres:
    restart: unless-stopped
    image: public.ecr.aws/docker/library/postgres:16
    networks:
      - postgres
    volumes:
      - /evil_ripple/docker-volumes/postgres:/var/lib/postgresql/data
    env_file: postgres.env

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    restart: unless-stopped
    networks:
      - web
    environment:
      WEBUI_URL: 'https://ai.local.djones.co'
      BYPASS_MODEL_ACCESS_CONTROL: 'True'
      OLLAMA_BASE_URL: 'http://192.168.10.4:11434'
    env_file: open-webui.env
    volumes:
      - type: bind
        source: /evil_ripple/docker-volumes/open-webui
        target: /app/backend/data

  jellyfin:
    image: ghcr.io/jellyfin/jellyfin:10.11.1
    restart: unless-stopped
    networks:
      - web
    volumes:
      - /evil_ripple/docker-volumes/jellyfin/cache:/cache
      - /evil_ripple/docker-volumes/jellyfin/config:/config
      - /evil_ripple/media/library/movies:/media/movies:ro
      - /evil_ripple/media/library/tv:/media/tv:ro
      - /evil_ripple/media/library/music:/media/music:ro

  syncthing:
    image: syncthing/syncthing:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - /evil_ripple/docker-volumes/syncthing:/var/syncthing
      - /evil_ripple/media/library/music-opus:/media/library/music-opus:ro
    environment:
      - PUID=1000
      - PGID=1000
    healthcheck:
      test: curl -fkLsS -m 2 127.0.0.1:8384/rest/noauth/health | grep -o --color=never OK || exit 1
      interval: 1m
      timeout: 10s
      retries: 3

  unifi:
    image: jacobalberty/unifi
    restart: unless-stopped
    network_mode: host
    volumes:
      - /evil_ripple/docker-volumes/unifi:/unifi

  matrix-portal-server:
    build: "https://github.com/tortxof/matrix-portal-server.git#main"
    restart: unless-stopped
    ports:
      - "5000:5000"

  # rustdesk
  hbbs:
    restart: unless-stopped
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbs
    volumes:
      - /evil_ripple/rustdesk:/root

    depends_on:
      - hbbr

  hbbr:
    restart: unless-stopped
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    network_mode: "host"
    command: hbbr
    volumes:
      - /evil_ripple/rustdesk:/root

  mumble-server:
    image: mumblevoip/mumble-server:latest
    restart: on-failure
    ports:
      - "64738:64738/tcp"
      - "64738:64738/udp"
    volumes:
      - /evil_ripple/docker-volumes/mumble-server:/data
